<% 
  const page  = htmlWebpackPlugin.options.data.page;
%>



<div id="about-website" class="modal">
  <div class="modal-content pb-4">
    <h5 class="center-align">About This Website</h5>
    <p class="mb-4">Welcome to the official website of FD Code Studio. This site is maintained by FD Code Studio and serves as a guide for our services.</p>
    
    <h6>Known Issues</h6>
    <ul>
      <li>Some elements display poorly on Instagram and Facebook Apps. To get a better experience, please open this website with a normal web browser.</li>
    </ul>

    <h6>Attribution</h6>
    <ul class="mb-0">
      <li>Masthead image by <a href="https://pixabay.com/users/rahu-4725201/" rel="nofollow">Rahul Yadav</a> from <a href="https://pixabay.com/" rel="nofollow">pixabay.com</a></li>
      <li>Laptop mockup from <a href="https://pngtree.com/so/laptop/" rel="nofollow">pngtree.com</a></li>
      <li>Mobile mockup from <a href="https://pngtree.com/so/android/" rel="nofollow">pngtree.com</a></li>
      <li>Icons made by <a href="https://www.freepik.com/" rel="nofollow">Freepik</a> from <a href="https://www.flaticon.com/" rel="nofollow">flaticon.com</a></li>
    </ul>
  </div>
</div>

<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l8 m7 s12 mb-4">
        <h6 class="white-text mb-2">Contact Us</h6>
        <a href="https://api.whatsapp.com/send?phone=6282362361344&text=Halo%20kak%2C%20saya%20ingin%20" class="d-block my-1"><i class="fab fa-whatsapp"></i>0823 6236 1344</a>
        <a href="https://www.instagram.com/fdcodestudio/" class="d-block my-1"><i class="fab fa-instagram"></i>fdcodestudio</a>
        <a href="mailto: fdcodestudio@gmail.com" class="d-block my-1"><i class="far fa-envelope"></i>fdcodestudio@gmail.com</a>
      </div>
      <div class="col l4 m5 s12">
        <h6 class="white-text">Site Links</h6>
        <ul>
          <% if (page === 'home') { %>
            <li><a href="#home"          class="nav-link"><i class="fas fa-chevron-right"></i>Home</a></li>
            <li><a href="#why-website"   class="nav-link"><i class="fas fa-chevron-right"></i>Manfaat Website</a></li>
            <!-- <li><a href="#why-us"        class="nav-link"><i class="fas fa-chevron-right"></i>Mengapa Kami</a></li> -->
            <li><a href="#package"       class="nav-link"><i class="fas fa-chevron-right"></i>Paket Website</a></li>
            <li><a href="#faq"           class="nav-link"><i class="fas fa-chevron-right"></i>Frequently Asked Questions</a></li>
            <li><a href="portfolio.html" class="nav-link"><i class="fas fa-chevron-right"></i>Portfolio</a></li>
          <% } else { %>
            <li><a href="index.html"     class="nav-link"><i class="fas fa-chevron-right"></i>Home</a></li>
            <li><a href="portfolio.html" class="nav-link"><i class="fas fa-chevron-right"></i>Portfolio</a></li>
          <% } %>          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span>&copy; <%= new Date().getFullYear() %> FD Code Studio. All rights reserved.</span>
      <a class="grey-text text-lighten-2 modal-trigger" href="#about-website">About this website</a>
    </div>
  </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>



</body>
</html>