<% 
  const page  = htmlWebpackPlugin.options.data.page;
%>



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jasa Pembuatan Website. Kami hadir untuk membantu Anda dalam mengembangkan bisnis secara online melalui website.">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TGCPZW3');</script>
  <!-- End Google Tag Manager -->

  <title><%= htmlWebpackPlugin.options.data.title %> | FD Code Studio</title>
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGCPZW3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="navbar-fixed">
  <nav class="grey darken-4">
    <div class="container">
      <div class="nav-wrapper">
        <a href="<%= (page === 'home') ? '#' : 'index.html' %>" class="brand-logo"><img src="images/logo.svg" alt="FD Code Studio"></a>
        <a href="#" data-target="sidenav" class="sidenav-trigger"><div class="icon-bars"><div><div class="icon-bar"></div><div class="icon-bar"></div><div class="icon-bar"></div></div></div></a>
        
        <ul class="right hide-on-med-and-down">
          <li><a href="index.html"     class="nav-link <%= (page === 'home') ? 'active' : '' %>">Home</a></li>
          <li><a href="portfolio.html" class="nav-link">Portfolio</a></li>

          <li><a href="https://api.whatsapp.com/send?phone=6282362361344&text=Halo%20kak%2C%20saya%20ingin%20" class="btn text-transform-none">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul id="sidenav" class="sidenav">
  <% if (page === 'home') { %>
    <li><a href="#home"          class="nav-link">Home</a></li>
    <li><a href="#why-website"   class="nav-link">Manfaat Website</a></li>
    <!-- <li><a href="#why-us"        class="nav-link">Mengapa Kami</a></li> -->
    <li><a href="#package"       class="nav-link">Paket Website</a></li>
    <li><a href="#faq"           class="nav-link">Frequently Asked Questions</a></li>
    <li><a href="portfolio.html" class="nav-link">Portfolio</a></li>
  <% } else { %>
    <li><a href="index.html"     class="nav-link">Home</a></li>
    <li><a href="portfolio.html" class="nav-link">Portfolio</a></li>
  <% } %>
  
  <li><a href="https://api.whatsapp.com/send?phone=6282362361344&text=Halo%20kak%2C%20saya%20ingin%20" class="btn text-transform-none">Contact Us</a></li>
</ul>